html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.current {
    border-bottom: 4px solid white;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.main {
    padding-top: 75px;
}

.left_button {
    background: greenyellow;
    position: fixed;
    width: 50px;
    height: 30px;
    left: 30px;
    top: 300px;
}

.right_button {
    background: greenyellow;
    position: fixed;
    width: 50px;
    height: 30px;
    right: 30px;
    top: 300px;
}
.main_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 64px;
    z-index: 1;
    background: #D3D3D3;
}

.mainBorder {
    border: 2px solid #cccccc;
    padding: 4% 4% 5% 5%;
}

.subBorder {
    box-shadow: 5px 10px 18px #ffcccc;
    border: 2px solid #e6e6e6;
    padding: 2%;
    width: 100%;
}

.ideas {
    background: #f2f2f2;
    padding: 2%;
    color: #595959;
}

.ideas:hover {
    color: black;
    background:   #e6e6e6;
}

#ideas {
    color: slategrey;
    font-size: 30px;
}

.idea_pitch {
    font-size: 19px;
}

.userName {
    font-family: 'Amatic SC';
    font-size: 12px;
}

.description {
    color: #737373;
    font-size: 20px;
    text-align: justify;
}

.expectation{
    color: darkgray;
}

.dotted {
    color: lightgrey;
    border-top: dashed 1px;
}

.descriptionWrapper{
    margin: 2%;
}

.greyBackground{
    background: #f2f2f2;
}

.whiteBackground{
    background: white;
}

.profileWrapper{
    margin-top: 3%;
    padding: 10%;
}

.profileIcon{
    margin: 3%;
    opacity: 0.25;
    font-size: 25px;
}

.profileName{
    font-size: 30px;
    color: darkslategray;
}

.hrProfile{
    width: 20%;
}

.desProfile{
    text-align: justify;
    width: 70%;
    color: darkgray;
    font-size: 15px;
    border-style: hidden ridge ridge hidden;
}

.place{
    font-size: 15px;
    opacity: 0.7;
}

.occupation{
    font-size: 15px;
    border-style: hidden hidden hidden ridge;
    letter-spacing: 1px;
}